* {
  --kinda-red-color:#E6563B;
  --kinda-orange-color:#EB9D3A;
  --kinda-green-color:#7CB06C;
  --kinda-blue-color:#00ABA9;
  --kinda-white-color:#f0f0f0;
  --kinda-grey-color:#E6E6E6;
}
h1{
  line-height:64px;
}
h2 {
  line-height:48px;
}
h3 {
  line-height:40px;
}
h4 {
  line-height:32px;
}
h5 {
  line-height:28px;
}

/*
Fonts from
font-family: 'Anton', sans-serif;
font-family: 'Abel', sans-serif;
 */
body {
  background-color:var(--kinda-white-color);
}
.logo{
  height: 105px;
  width: 105px;
}

/*.navdiv{*/
/*  background-color: white;*/
/*}*/
.header-font {
  font-family: 'Anton', sans-serif;
}
.subHeader-font {
  font-family: 'Abel', sans-serif;
}
.dot {

}
.designButt {
  display:flex;
  border-radius:50%;
  border: var(--kinda-white-color) solid 5px;
  color:white;
  width:105px;
  height:105px;
  align-items:center;
  justify-content:center;

}
.lildesignButt {
  display:flex;
  border-radius:50%;
  color:black;
  width:18px;
  height:18px;
  align-items:center;
  justify-content:center;
}
.redButt {
  background-color: var(--kinda-red-color);
}
.orangeButt {
  background-color: var(--kinda-orange-color);
}
.greenButt {
  background-color:var(--kinda-green-color);
}
.blueButt {
  background-color:var(--kinda-blue-color);
}
.card1{
  background-color: var(--kinda-grey-color);
  border: none;
}
.my-image{
  background-color: var(--kinda-grey-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.my-card{
  background-color: var(--kinda-white-color);
  border: none
;
}
