* {
    --kinda-red-color: #E6563B;
    --kinda-orange-color: #EB9D3A;
    --kinda-green-color: #7CB06C;
    --kinda-blue-color: #00ABA9;
    --kinda-white-color: #f0f0f0;
    --kinda-grey-color: #E6E6E6;
}

h1 {
    line-height: 64px;
}
h2 {
    line-height: 48px;
}
h3 {
    line-height: 40px;
}
h4 {
    line-height: 32px;
}
h5 {
    line-height: 28px;
}

/*
Fonts from
font-family: 'Anton', sans-serif;
font-family: 'Abel', sans-serif;
 */
body {
    background-color: var(--kinda-white-color);
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Abel', sans-serif;
}
.header-font {
    font-family: 'Anton', sans-serif;
    color: black;
}
.subHeader-font {
    font-family: 'Abel', sans-serif;
    color: black;
}



.designButt {
    display: flex;
    border-radius: 50%;
    border: white solid 5px;
    color: white;
    width: 105px;
    height: 105px;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;

}

.lildesignButt {
    display: flex;
    border-radius: 50%;
    color: black;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
}

.redButt {
    background-color: var(--kinda-red-color);
}
.orangeButt {
    background-color: var(--kinda-orange-color);
}
.greenButt {
    background-color: var(--kinda-green-color);
}
.blueButt {
    background-color: var(--kinda-blue-color);
}

.my-image {
    background-color: var(--kinda-grey-color);
    padding: 5px 5px;
}

.bg-logo {
    height:56px;
}

.link-fix {
    color:rgba(0,0,0,.5); ;
}

.my-card{
    font-size: 0.9em;
}

.tweet-color {
    color:#1DA1F2;
}

#theLastSection{
    /*background-color: lightseagreen;*/
}
#selectedWorkSection{
    /*background-color: #1DA1F2;*/
}
#lowerHalfSection{
    /*background-color: red;*/
}
.row{
    margin: 0;
}

.lilimage{
    height: 50px;
    border: 1px var(--kinda-grey-color) solid;
}
.imagediv{

    overflow: hidden;
    height: 50px;
    width: 50px;
}
.header4{
    margin: 0 0 0 10px;
}
i{
    margin-bottom: 10px;
}
#ButtContainer{
   width: 540px;
}